{% extends 'erp_core/dashboards/base_dashboard.html' %}

{% block title %}Dashboard | Leaders International School ERP{% endblock %}

{% block content %}
<div class="content-card">
    <div class="card-header-flex">
        <h4>User Portal</h4>
    </div>
    <p>Welcome to the Leaders International School ERP Portal. Your account roles do not currently point to a specific portal page. Please contact the administrator to assign you roles such as Director, Principal, Accountant, Teacher, Student, or Parent.</p>
</div>
{% endblock %}
